@use '../mixins' as *;

.cart {
  display: flex;
  flex-direction: column;
}

.cart-item {
  padding: 12px 0;
  display: flex;
}

.cart-item__img {
  width: min(100%, 83px);
  aspect-ratio: 1;

  @include img-relative();
}

.cart-item__counter {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cart-item__counter-btn {
  cursor: pointer;
}