.catalog-tree {
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 650px;
	max-height: 900px;
	background: var(--clr-white);
	border-radius: 20px;
}

.catalog-tree__scroll-container {
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 16px;
	overflow: auto;
	overscroll-behavior-y: contain;
	-webkit-user-select: none;
	user-select: none;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.catalog-tree__link {
	span {
		color: var(--clr-grey1);
	}
}

.catalog-tree__link-home {
	padding-bottom: 8px;
	border-bottom: 1px solid var(--clr-grey3);
}
