.header {
    position: fixed;
    left: 50%;
    right: 0;
    top: 0;
    background-color: var(--clr-white);
    width: min(100%, var(--app-widthMax));
    transform: translateX(-50%);
    z-index: var(--z-header);
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}