.pagination-container {
	width: 100%;
	display: flex;
  align-items: center;
  justify-content: center;
	gap: 10px;
}

.paginate-buttons {
	width: 35px;
  aspect-ratio: 1;
	border-radius: 8px;
	cursor: pointer;
	background-color: var(--clr-grey4);
	border: 1px solid var(--clr-grey3);
	color: var(--clr-black);
}

.active-page {
	background-color: var(--clr-primary);
	border: 1px solid var(--clr-primary);
	color: var(--clr-white);
}

.back-button, .next-button {
	display: flex;
	align-items: center;
	justify-content: center;

	.icon {
		font-size: 20px;
	}
}

@media (hover: hover) {
  .paginate-buttons:hover {
    background-color: var(--clr-grey3);
  }

  .active-page:hover {
    background-color: var(--clr-primary-hover);
  }
}
