.right-aside, 
.right-aside__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 264px;
}

.right-aside__container {
  height: 100%;
  max-height: calc(100% - var(--header-height) - 24px);
  padding: 24px 0;
  position: fixed;
  z-index: 1;
}
