.text {
  color: var(--clr-textPrimary);
}

.text--semibold {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .02px;
}

.text--bold {
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -.6px;
}