body {
  background: rgb(var(--v-theme-background));
}

.app__container {
  width: var(--app-widthContainer);
  position: relative;
  margin-inline: auto;
}

.app__content {
  position: relative;
  top: var(--header-height);
  display: flex;
  justify-content: center;
  gap: 16px;
}