.app__container {
  position: relative;
  width: min(100%, var(--app-widthMax));
  margin-inline: auto;
}

.app__content {
  position: relative;
  top: 88px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 16px;
}

body {
  background: rgb(var(--v-theme-background));
}

.container {
  // container styles
}

aside, main {
  background-color: var(--clr-white);
}

.main {
  padding: 32px 24px 32px 24px;
  border-radius: var(--main-borderRadius);
}