// global variables
:root {
	// simple colors
	--clr-white: #fff;
	--clr-black: #000;
	--clr-red: #ff0000;
	--clr-crusta: #ff7d31;
	--clr-concrete: #f2f2f2;
	--clr-silverChalice: #a6a6a6;

	// system colors
	--clr-primary: var(--clr-crusta);
	--clr-dark: #404040;

	--clr-grey1: #595959;
	--clr-grey2: #a6a6a6;
	--clr-grey3: #e0e0e0;
	--clr-grey4: var(--clr-concrete);

	--clr-oldPrice-grey: #c4c4c4;

	--clr-textPrimary: var(--clr-dark);
	--clr-bgPrimary: var(--clr-concrete);

	// components colors
	--clr-error: var(--clr-red);

	// app settings
	--app-widthMax: 1900px;
	--app-widthContainer: min(
		calc(100% - 32px),
		calc(var(--app-widthMax) - 32px)
	);

	// heights
	--header-height: 88px;

	// z-indexes
	--z-header: 100;

	// border-radius
	--header-borderRadius: 0 0 32px 32px;
	--leftAside-borderRadius: 20px;
	--rightAside-borderRadius: 24px;
	--main-borderRadius: 32px 32px 0 0;
	--btn-borderRadius: 56px;
}
