// global variables
:root {
	// simple colors
	--clr-white: #fff;
	--clr-black: #000;
	--clr-concrete: #f2f2f2;

	// system colors
	--clr-primary: #ff7d31;
	--clr-bgPrimary: var(--clr-concrete);

	// components colors
	--clr-error: #ff0000;

	// app settings
	--app-widthMax: 1740px;
	--app-widthContainer: min(
		calc(100% - 32px),
		calc(var(--app-widthMax) - 32px)
	);

    // heights
    --header-height: 88px;

	// z-indexes
	--z-header: 100;

	// border-radius
	--header-borderRadius: 0 0 32px 32px;
	--leftAside-borderRadius: 20px;
	--rightAside-borderRadius: 24px;
	--main-borderRadius: 32px 32px 0 0;
}
